@page
@model ServiceHost.Areas.Administration.Pages.Accounts.Role.CreateModel
@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "ایجاد نقش جدید";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ایجاد نقش جدید</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.Name" class="control-label">نام</label>
                                        <input type="text" class="form-control" asp-for="Command.Name">
                                        <span asp-validation-for="Command.Name" class="error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label col-md-3">انتخاب دسترسی ها</label>
                                    <div class="col-md-12">
                                        <select asp-for="Command.Permissions" asp-items="Model.Permissions" class="multi-select" multiple="multiple" id="my_multi_select3">
                                            <option value="0">بدون دسترسی</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                <a class="btn btn-default waves-effect waves-light m-b-5" asp-page="./Index">بازگشت</a>
                                <button type="submit" class="btn btn-info waves-effect waves-light m-b-5">ایجاد</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


